pipeline/pl_CopypatientData.json
{
	"name": "pl_CopypatientData",
	"properties": {
		"activities": [
			{
				"name": "Copy PatientData to srcDestDB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "inputPatientDataCSV",
							"wildcardFileName": "*.*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_patientData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_srcDestDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LogPipelineInfo OnFailure",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy PatientData to srcDestDB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as Pipeline_RunID,\n'@{activity('Copy PatientData to srcDestDB').output.errors[0].Code}' as ErrorCode,\n'@{replace(activity('Copy PatientData to srcDestDB').output.errors[0].Message,'''','')}' as ErrorMessage,\n'@{utcNow()}' as ErrorLoggedTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ErrorInfo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ErrorFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LogMetrics OnSuccess",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy PatientData to srcDestDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select @{pipeline().DataFactory} as DataFactoryName,\n@{pipeline().Pipeline} as PipelineName,\n@{pipeline().RunId} as RunID,\n@{utcNow()} as LastRun",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_OnSuccess_Info",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_OnSuccess",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}